#!/bin/bash

# function test() {
#   >> SOME COMMANDS <<
# }
#
# function example() {
#   >> SOME OTHER COMMANDS <<
# }
#
#
# If a command is to be executed on the container, make sure that the command is executed in the container's shell.
# You can do this with the command >> pct exec $ctID -- bash -c "SOME COMMANDS" <<
